<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-2"></div>
    <div class="col-8">
      <h2>Simple Login Form</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" id="email" class="form-control" [(ngModel)]="user.email" required email>


          <div id="" class="form-text text-danger" *ngIf="loginForm.controls['email']?.touched">
            <div class="form-text text-danger" *ngIf="loginForm.controls['email']?.errors?.['required']">
              Email Address is Required
            </div>
            <div class="form-text text-danger" *ngIf="loginForm.controls['email']?.errors?.['email']">
              Email address is invalid
            </div>
          </div>


        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" required
            minlength="6">
          <div id="" class="form-text text-danger" *ngIf="loginForm.controls.password?.touched">
            <div class="form-text text-danger" *ngIf="loginForm.controls.password?.errors?.['required']">
              Password is Required
            </div>
            <div class="form-text text-danger" *ngIf="loginForm.controls.password?.errors?.minlength">
              Password is invalid
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2>Form with select and radio buttons</h2>
      <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="" name="fullName" [(ngModel)]="customer.fullname">

        </div>
        <div class="mb-3">
          <label for="gender" class="form-label ms-2 me-2">Gender</label>
          <input type="radio" class="" id="" [(ngModel)]="customer.gender" name="gender" value="male" required> Male
          <input type="radio" class="" id="" [(ngModel)]="customer.gender" name="gender" value="female"> Female
          <input type="radio" class="" id="" [(ngModel)]="customer.gender" name="gender" value="other"> Other

        </div>
        <div class="mb-3">
          <label for="country" class="form-label me-3">Select the Country</label>
          <select name="country" [(ngModel)]="customer.country">
            <option value="" disabled>Select the country</option>
            <option value="USA">USA</option>
            <option value="UK">UK</option>
            <option value="Australia">Australia</option>
          </select>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div cla="col-2"></div>
  </div>

</div>
<br>
<br>

<h2>Dynamic validation : Age verification</h2>
<div class="container-fluid">
  <form #validationForm="ngForm">
    <div class="mb-3">
      <label for="username" class="form-label">Username : </label>
      <input type="" class="form-control" id="" name="username" [(ngModel)]="student.name" required>

    </div>
    <div class="mb-3">
      <label for="dob" class="form-label">Date of Birth : </label>
      <input type="" class="form-control" id="" name="dob" [(ngModel)]="student.dateOfBirth" required>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age : </label>
      <input type="number" class="form-control" id="" name="age" [(ngModel)]="student.age" min="18" required>
      <div id="" class="form-text text-danger" *ngIf="student.age < 18 && validationForm.controls.age?.touched">Age must
        be greater than 18</div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="validationForm.invalid">Submit</button>
  </form>
</div>

<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2>Contact form with reset functionality</h2>
      <form #contactForm="ngForm" (ngSubmit)="onContactSubmit(contactForm)">
        <div class="mb-3">
          <label for="name" class="form-label" >Name : </label>
          <input type="text" class="form-control" id="" name="name" [(ngModel)]="contactDetails.name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email : </label>
          <input type="text" class="form-control" id="" name="email"  [(ngModel)]="contactDetails.email" >
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message : </label>
          <input type="" class="form-control" id="" name="message"  [(ngModel)]="contactDetails.message" >
        </div>

        <div *ngIf="contactSubmitted == true" class="text text-success mb-3">
          Form successfully submitted
        </div>
        <button type="submit" class="btn btn-primary me-4" [disabled]="contactForm.invalid">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2>Custom validator : No spaces Allowed</h2>
      <form [formGroup]="signUpForm">
        <div class="mb-3">
          <label for="" class="form-label"></label>
          <input type="text" class="form-control" id="" formControlName="username">
          <div id="" class="form-text" *ngIf="signUpForm.controls.username?.errors?.passwordStrength">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" id="" formControlName="password">
          <div class="field-message" *ngIf="signUpForm.controls.password?.errors?.passwordStrength">
            Your password must have lower case, upper case and numeric characters.
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>